numpy==1.26.4
pandas==2.3.0
nltk==3.9.1
scikit-learn==1.6.1
matplotlib==3.9.4
gensim==4.3.3
datasets==4.0.0
tensorflow==2.19.0
tensorflow-hub==0.16.1
torch==2.7.1+cu118
seaborn==0.13.2
jupyter==1.0.0
ipykernel==6.29.5